

<section class="home-index-main">
    <center>
        <div class="main-intro">
        </div>
    </center>

    <div class="home-back-glass">
        Start helping by donating as low as Rs.1 or join our community.
        <img src="~/Content/images/Buttons/GetStarted-button.png" class="home-back-glass-getstarted-button"/>
    </div>
    
    <div class="home-cause-wrapper">
        <section class="home-cause-human-section">
            <div class="section-cause-centered">
                <div class="home-cause-human-img"></div>
                <div class="home-cause-human-text">
                   <p class="home-cause-title"><em>{ </em>people<em>... }</em></p>
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris id diam fringilla, ornare felis et, hendrerit nunc. Morbi volutpat mattis mauris non lacinia. Sed accumsan sit amet felis sit amet gravida. Sed est tortor, suscipit et convallis quis, convallis id turpis. Morbi lobortis odio urna, non molestie mauris hendrerit vitae.</h3>
                </div>
            </div>
        </section>
        <section class="home-cause-animal-section">
            <div class="section-cause-centered">
                <div class="home-cause-animal-img"></div>
                <div class="home-cause-animal-text">
                    <p class="home-cause-title"><em>{ </em>animals <em>:( }</em></p>
                    <h3>Praesent pulvinar rutrum nisl scelerisque bibendum. Duis vulputate, orci ac suscipit sagittis, neque sem suscipit sapien, eget cursus ligula libero sit amet lorem. Nulla ut ligula vel elit molestie scelerisque nec eget tellus. Nunc id massa nulla. Nullam et egestas purus. Morbi faucibus accumsan turpis in commodo. Etiam finibus massa sed molestie ornare.</h3>
                </div>
            </div>
        </section>
        <section class="home-cause-env-section">
            <div class="section-cause-centered">
                <div class="home-cause-env-img"></div>
                <div class="home-cause-env-text">
                    <p class="home-cause-title"><em>{ **</em> environment <em> ** }</em></p>
                    <h3>Praesent at diam et velit accumsan euismod sit amet at arcu. In hac habitasse platea dictumst. Curabitur nunc metus, mollis in laoreet eget, malesuada in ex. Mauris consectetur dolor tellus, a fermentum elit iaculis ut. Aliquam ipsum elit, condimentum eget porta sit amet, mattis id ante.</h3>
                </div>
            </div>
        </section>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index:2000">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">  </div>
                    <input class="form-control" type="email" placeholder="Enter email">
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputPassword2">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
            <button type="submit" class="btn btn-default">Sign in</button>
        </form>
    </div><!-- /.modal -->
</section>
