<div class="home-footer-pre-background">
    <center>
        <img src="~/Content/images/home/Footer v0.1.png" />
    </center>
</div>

<div class="home-footer">
    <div>
        <table class="home-footer-link-table">
            <tr><th class="home-footer-heading">Redfog.org</th></tr>
            <tr><td><a href="#" class="footer-menu-a">Privacy Policy</a></td></tr>
            <tr><td><a href="#" class="footer-menu-a">Disclaimer</a></td></tr>
            <tr><td><a href="#" class="footer-menu-a">Security Policy</a></td></tr>
            <tr><td><a href="#" class="footer-menu-a">Partner agreement</a></td></tr>
        </table>

        <table class="home-footer-link-table">
            <tr><th class="home-footer-heading">Partners</th></tr>
            <tr><td><a href="#" class="footer-menu-a">Social socities</a></td></tr>
            <tr><td><a href="#" class="footer-menu-a">Vendors</a></td></tr>
            <tr><td><a href="#" class="footer-menu-a">Crowd</a></td></tr>
        </table>

        <table class="home-footer-link-table">
            <tr><th class="home-footer-heading">Get along</th></tr>
            <tr><td><a href="#" class="footer-menu-a">Tell us your feelings</a></td></tr>
            <tr><td><a href="#" class="footer-menu-a">Donate</a></td></tr>
            <tr><td><a href="#" class="footer-menu-a">Join a community</a></td></tr>
            <tr><td><a href="#" class="footer-menu-a">Build a community</a></td></tr>
            <tr><td><a href="#" class="footer-menu-a">Spread the word</a></td></tr>
        </table>
    </div>

    <table class="home-footer-link-table">
        <tr><th class="home-footer-heading">Follow Us</th></tr>
        <tr>
            <td>
                <img src="~/Content/images/Buttons/Facebook-button.png" />&nbsp;
                <img src="~/Content/images/Buttons/Twitter-button.png" />&nbsp;
                <img src="~/Content/images/Buttons/googleplus-button.PNG" />
            </td>
        </tr>
    </table>
</div>

