<div class="nav-main"></div>

    <div>
        <header class="header" role="banner">
            <nav data-nav-name="redmobile">
                @*<ul class="nav-main">
                    <li>
                        <a class="home" href="~/Home/Register">Home</a>
                    </li>
                    <li>
                        <a class="whyus" href="~/Views/Home/About.cshtml">Why us</a>
                    </li>
                    <li>
                        <a class="causes" href="test.chtml">Causes</a>
                    </li>
                    <li>
                        <a class="partners" href="test.chtml">Partners</a>
                    </li>
                </ul>*@

                <ul class="nav navbar-nav">
                    <li>
                        <a class="active" href="~/Home/Register">Home</a>
                    </li>
                    <li>
                        <a class="whyus" href="~/Views/Home/About.cshtml">Why us</a>
                    </li>
                    <li>
                        <a class="causes" href="test.chtml">Causes</a>
                    </li>
                    <li>
                        <a class="partners" href="test.chtml">Partners</a>
                    </li>
                </ul>

                <ul class="nav-register">
                    @*<li>
                            <a class="register-me" href="partnerspage">Register Me</a>
                        </li>
                        <li> Loginhere
                            <a class="login-me" href="partnerspage">Log In</a>
                        </li>*@
                </ul>
            </nav>
            
            <div class="header-item-main-logo">
                <button type="button" class="btn btn-primary">Sign up</button>
            </div>
                <div class="header-item-main-logo">
                    <a class="site-logo">
                        <div class="site-logo-image"></div>
                    </a>
                </div>

                @*<div class="header-search-bar">
                <form id="searchbox" action="">
                    <input id="search" type="text" placeholder="Type here">
                    <input id="submit" type="submit" value="Search">
                </form>
            </div>*@

</header>
    </div>
